<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe Finder</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="javascript:loadMainFragment();" class="navbar-brand">Recipe Finder</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:loadFridgeFragment();">Fridge</a></li>
            <li><a href="javascript:loadRecipesFragment();">Recipes</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" id="new-body">
      <!-- dynamic loaded -->
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      loadMainFragment();
    </script>

    <script id="itemsTemplate" type="text/html">
        <% for(var i = 0; i < itemsList.length; i++) { %>
        <% var item = itemsList[i]; %>
        <tr>
          <td><%= item.item %></td>
          <td><%= item.amount %></td>
          <td><%= item.unit %></td>
          <td><%= item.useBy %></td>
        </tr>
        <% } %>
    </script>

  </body>
</html>
